<div class="main">
  <a href="/auth/login" class="buttons lo">Login</a>
  <a href="/auth/signup" class="buttons si">Signup</a>
  <a href="/profile" class="buttons pr">Profile</a>
  <a href="/" class="buttons ho">Home</a>
</div>

<% script = " " %>

