<div class="profile-container">
    <h2><%= title %></h2>
    <div id="profile-data">
        <p>Loading profile information...</p>
    </div>
    <button class="logout" >Logout</button>
</div>

<% script = `
  <script src="/js/profile.js"></script>
` %>