<div>
  <div class="profile-container">
      <h2><%= title %></h2>
      <div id="profile-data">
          <p>Loading profile information...</p>
      </div>
      <a class="logout"  href="/logout">Logout</a>
  </div>
</div>

<% script = `
  <script src="/js/profile.js"></script>
` %>